    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Config file for defining DSL2 per module options and publishing paths
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Available keys to override module options:
            ext.args   = Additional arguments appended to command in module.
            ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
            ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
            ext.prefix = File name prefix for output files.
    ----------------------------------------------------------------------------------------
    */

    process {

        //
        // Statistics about the input sequences
        //

        withName: "CALCULATE_SEQSTATS"{
            publishDir = [
                path: { "${params.outdir}/summary/stats/sequences/seqstats" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml')|filename.contains('_summary.csv') ? null : filename }
            ]
        }

        withName: "CONCAT_SEQSTATS"{
            ext.prefix = { "summary_seqstats" }
        }

        withName: "EXTRACT_PLDDT"{
            publishDir = [
                path: { "${params.outdir}/summary/stats/structures/plddt" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml')|filename.contains('_summary.csv') ? null : filename }
            ]
        }

        withName: "CONCAT_PLDDT"{
            ext.prefix = { "summary_plddt" }
        }

        withName: TCOFFEE_SEQREFORMAT_SIM{
            ext.args = "-output=sim_idscore"
            publishDir = [
                path: { "${params.outdir}/summary/stats/sequences/perc_sim" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: "CONCAT_SIMSTATS"{
            ext.prefix = { "summary_simstats" }
        }

        withName: "MERGE_STATS"{
            ext.prefix = { "complete_summary_stats" }
            ext.args = "-f 1 -O"
            // If the publishDir path changes, make sure to change the path in generate_downstream_samplesheet
            publishDir = [
                path: { "${params.outdir}/stats/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        //
        // Tree building (guidetree)
        //

        withName: "FAMSA_GUIDETREE|CLUSTALO_GUIDETREE|MAGUS_GUIDETREE"{
            ext.args = { params.guidetree_args }
            tag = { "${meta.id} args:${meta.guidetree_args}" }
            publishDir = [
                path: { "${params.outdir}/trees/${meta.guidetree}_${meta.guidetree_args}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        //
        // Alignment from a tree (treealign)
        //

        withName: "CLUSTALO_TREEALIGN|FAMSA_TREEALIGN|MAGUS_TREEALIGN|TCOFFEE_TREEALIGN"{
            ext.args = { params.treealign_args }
            tag = { "${meta.id} args:${meta.treealign_args}" }
            publishDir = [
                path: { "${params.outdir}/alignment/${meta.treealign}_${meta.treealign_args}_${meta.guidetree}_${meta.guidetree_args}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        //
        // Alignment
        //

        withName: "CREATE_TCOFFEETEMPLATE"{
            ext.prefix = { "${meta.id}" }
        }

        withName: "CLUSTALO_ALIGN|FAMSA_ALIGN|LEARNMSA_ALIGN|MAFFT|MAGUS_ALIGN|MUSCLE5_SUPER5|REGRESSIVE|TCOFFEE_ALIGN|TCOFFEE3D_ALIGN"{
            ext.args = { params.alignment_args }
            tag = { "${meta.id} args:${meta.alignment_args}" }
            publishDir = [
                path: { "${params.outdir}/alignment/${meta.alignment}_${meta.alignment_args}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: "MTMALIGN_ALIGN"{
            // unused module for this simplified version
            tag = { "${meta.id} tree:${meta.guidetree} argstree:${meta.guidetree_args} args:${meta.treealign_args}" }
            ext.prefix = { "${meta.id}_${meta.guidetree}-args-${meta.guidetree_args}_${meta.treealign}-args-${meta.treealign_args}" }
            ext.args = { "${meta.alignment_args}" == "null" ? '' : "${meta.alignment_args}" }
            if(params.skip_compression){
                publishDir = [
                    path: { "${params.outdir}/alignment/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                    pattern: "*.aln"
                ]
            }

        }

        withName:"PIGZ_COMPRESS"{
            publishDir = [
                path: { "${params.outdir}/alignment/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        //
        // Alignment evaluation
        //

        withName: 'PARSE_IRMSD'{
            ext.prefix = { "${meta.id}_${meta.guidetree}-args-${meta.guidetree_args}_${meta.alignment ?: meta.treealign}-args-${meta.alignment_args ?: meta.treealign_args}_irmsd" }
        }

        withName: 'TCOFFEE_ALNCOMPARE_SP'{
            ext.prefix = { "${meta.id}_${meta.guidetree}-args-${meta.guidetree_args}_${meta.alignment ?: meta.treealign}-args-${meta.alignment_args ?: meta.treealign_args}_sp" }
            ext.args = "-compare_mode sp"
        }

        withName: 'TCOFFEE_ALNCOMPARE_TC'{
            ext.prefix = { "${meta.id}_${meta.guidetree}-args-${meta.guidetree_args}_${meta.alignment ?: meta.treealign}-args-${meta.alignment_args ?: meta.treealign_args}_tc" }
            ext.args = "-compare_mode tc"
        }

        withName: 'TCOFFEE_IRMSD'{
            ext.prefix = { "${meta.id}_${meta.guidetree}-args-${meta.guidetree_args}_${meta.alignment ?: meta.treealign}-args-${meta.alignment_args ?: meta.treealign_args}_irmsd" }
            publishDir = [
                path: { "${params.outdir}/evaluation/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: "CALC_GAPS"{
            ext.prefix = { "${meta.id}_${meta.guidetree}-args-${meta.guidetree_args}_${meta.alignment ?: meta.treealign}-args-${meta.alignment_args ?: meta.treealign_args}_gaps" }
        }

        withName: "CONCAT_IRMSD"{
            ext.prefix = { "summary_irmsd" }
        }

        withName: "CONCAT_GAPS"{
            ext.prefix = { "summary_gaps" }
        }

        withName: "CONCAT_SP"{
            ext.prefix = { "summary_sp" }
        }

        withName: "CONCAT_TC"{
            ext.prefix = { "summary_tc" }
        }

        withName: "CONCAT_TCS"{
            ext.prefix = { "summary_tcs" }
        }

        withName: 'TCOFFEE_TCS'{
            ext.prefix = { "${meta.id}_${meta.guidetree}-args-${meta.guidetree_args}_${meta.alignment ?: meta.treealign}-args-${meta.alignment_args ?: meta.treealign_args}_tcs" }
            publishDir = [
                path: { "${params.outdir}/evaluation/${task.process.tokenize(':')[-1].toLowerCase()}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: "MERGE_EVAL"{
            ext.prefix = { "complete_summary_eval" }
            ext.args = "-f 1,2,3,4,5,6,7 -O"
            publishDir = [
                path: { "${params.outdir}/evaluation/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: "MERGE_STATS_EVAL"{
            ext.prefix = { "complete_summary_stats_eval" }
            ext.args = "-f 1 -O"
            publishDir = [
                path: { "${params.outdir}/summary/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        withName: 'MULTIQC' {
            ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
            publishDir = [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }

        //
        // Shiny app
        //
        withName: 'PREPARE_SHINY' {
            publishDir = [
                path: { "${params.outdir}/shiny_app" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
